body {
  font-family: $primary-font, $second-font;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $base-color-text-grey;
  width: $mobile-only-width;
  height: 100%;
  margin: auto;
  font-style: normal;
  text-transform: uppercase;
  background-color: $base-color-text-white;
}

.container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-basic-gray;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  // word-wrap: break-word;
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  .page__body {
    width: 90%;
  }
}

@media (min-width: $desktop-min-width) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  .page__body {
    width: 80%;
    max-width: desktop-max-width;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:focus {
  color: $base-color-text-white;
}

a:hover {
  color: $bg-blue;
}

button {
  text-decoration: none;
  color: inherit;
}

button:focus {
  color: $base-color-text-white;
}

button:hover {
  color: $bg-blue;
}

input {
  font-family: $primary-font;
  outline: none;
  padding: 2px;
  border-radius: 5px;
  border: 2px solid $bg-basic-gray;
  box-shadow:  inset 0 0 5px rgba(60, 167, 202, 0.5);
  width: auto;
  height: auto;
}

input::placeholder {
  font-weight: 800px;
  font-family: $second-font;
  text-align: start;
  font-size: 14px;
  padding: 2px;
  color: $base-color-text-grey;
  width: auto;
}

textarea {
  font-family: $primary-font;
  font-size: 14px;
  padding: 2px;
  width: auto;
}
