/* здесь используйте глобальные переменные */
$base-color-text-grey: #444444;
$base-color-text-black: #000000;
$base-color-text-white: #ffffff;
$bg-basic-gray: rgba(184, 196, 196, 0.42);
$bg-blue: rgba(158, 211, 234, 0.42);
$bg-dark-blue: rgb(42, 170, 220);
$bg-dark-salomon: rgb(216, 153, 18);
$bg-salomon: rgb(206, 112, 4);

$bg-linear-gradient: linear-gradient(to right, #21a3d7, #feb47b);

$text-uppercase: uppercase;
$text-lowercase: lowercase;

$mobile-only-width: 360px;
$tablet-min-width: 768px;
$tablet-max-width: 1024px;
$desktop-min-width: 1024px;
$desktop-max-width: 1400px;

