/* здесь используйте глобальные переменные */
$base-color-text-grey: #444444;
$base-color-text-black: #000000;
$base-color-text-white: #ffffff;
$bg-basic-gray: #b8c4c46b;
$bg-blue: #9ed3ea6b;
$text-uppercase: uppercase;
$text-lowercase: lowercase;

$mobile-only-width: 360px;
$tablet-min-width: 768px;
$tablet-max-width: 1025px;
$desktop-min-width: 1025px;
$desktop-min-width: 1400px;
