/* здесь используйте глобальные переменные */
$base-color-text-grey: #444444;
$base-color-text-black: #000000;
$base-color-text-white: #ffffff;
$bg-basic-blue: #85f5ef;
$text-uppercase: uppercase;
$text-lowercase: lowercase;
