.feedback {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  background-color: $bg-basic-gray;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.feedback__title {
  font-family: $second-font;
  font-size: 14px;
  font-weight: 800px;
}

.feedback__title__lowercase {
  font-size: 12px;
  line-height: 14px;
}
