.feedback {
  display: flex;
  flex-direction: column;
  background-color: $bg-basic-gray;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
}

.feedback__title {
  font-family: $second-font;
  font-size: 14px;
  font-weight: 800px;
  text-align: center;
}

.feedback__title__lowercase {
  font-size: 12px;
  line-height: 14px;
  text-transform: initial;
  font-weight: 100;
}

.feedback__container {
  padding: 0 20px;
}

