.maim-nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  font-weight: 600;
  line-height: 14px;
  font-family: $second-font;
}

.site-list__item {
  padding: 8px;
  padding-bottom: 2px;
  list-style-type: none;
}

.site-list__item--active {
  border-bottom: 2px solid $bg-dark-blue;
  border-radius: 2px;
  font-weight: 800px;
  width: 100%;
}

.site-list__item--active:hover {
  border-bottom: 2px solid $bg-blue;
  border-radius: 2px;
}

@media (min-width: $desktop-min-width) {
  .maim-nav__list {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 800px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .site-list__item {
    padding-right: 60px;
  }

  .site-list__item--active {
    border-bottom: 4px solid $bg-dark-blue;
    border-radius: 4px;
  }

  .site-list__item--active:hover {
    border-bottom: 4px solid $bg-blue;
    border-radius: 4px;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .maim-nav__list {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 800px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .site-list__item {
    padding-right: 60px;
  }

  .site-list__item--active {
    border-bottom: 4px solid $bg-dark-blue;
    border-radius: 4px;
  }

  .site-list__item--active:hover {
    border-bottom: 4px solid $bg-blue;
    border-radius: 4px;
  }
}
