.page-footer {
  // background-color: #333;
  // color: $base-color-text-white;
  // text-align: center;
  // padding: 10px 0;
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  // z-index: 1000;
}

.social__list {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}
