.page-main {
  width: 100%;
}

.page-main__about {
  font-family: $second-font;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  color: $base-color-text-black;
  margin: 0;
}

.page-main__about-line {
  height: 7px;
  background: $bg-linear-gradient;
  margin: 20px;
  border-radius: 5px;
}

.page-main__about--info {
  color: red;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-transform: initial;
}
