.page-main__advantages {
  font-family: $primary-font;
  font-size: 14px;
  width: 300px;
  height: auto;
  text-align: justify;
  margin: auto;
  font-weight: 300;
  text-transform: initial;
}

.page-main-info--bold {
  text-align: justify;
  width: 300px;
  padding-top: 10px;
  margin: auto;
  font-weight: bold;
  color: $bg-salomon;
}

.page-main__advantages {
  margin-top: 20px ;
}

.features__foreword-info {
  text-transform: initial;
  color: $base-color-text-black;
}
