
/* Основные стили для попапа */
.popup-class, .overlay, .success-message-popup {
  display: none;
}

.success-message-popup p {
  color: $base-color-text-white;
  font-size: 24px;
  margin: 30px 0;
  font-size: 24px;
  margin: 10px 0;
  line-height: 18px;
}

.popup-class, .success-message-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $base-color-text-white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  text-align: center;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  font-family: $second-font;
  font-size: 14px;
  border-radius: 5px;
}

.success-message-popup {
  background-color: $bg-dark-blue;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 22px;
  cursor: pointer;
  font-size: 50px;
  color: $base-color-text-black;
}

.close-button:hover {
  opacity: 0.5;
}

.popup-content input[type="text"],
.popup-content input[type="tel"],
.popup-content textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  font-family: $second-font;
  font-size: 18px;
  color: $base-color-text-black;
}

.popup-content ::placeholder {
  font-size: 18px;
}

.popup-content button {
  font-size: 18px;
  width: 100%;
  padding: 10px;
}

.fixed-button-svg {
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  right: 7%;
}

.fixed-button-svg:hover {
opacity: 0.5;
}

.popup-content__title {
  font-family: $second-font;
  font-size: 28px;
  line-height: 20px;
}

.popup-content__title__lowercase {
  font-family: $second-font;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
}


@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {

  .success-message-popup p {
    font-size: 28px;
    margin: 10px 0;
    line-height: 18px;
  }

  .popup-class, .success-message-popup {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    text-align: center;
    max-width: 500px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
  }


  .close-button {
    font-size: 50px;
    color: $base-color-text-black;
  }

  .close-button:hover {
    opacity: 0.5;
  }

  .popup-content input[type="text"],
  .popup-content input[type="tel"],
  .popup-content textarea {
    margin: 20px 0;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    font-family: $second-font;
    font-size: 18px;
    color: $base-color-text-black;
  }

  .popup-content::placeholder {
    font-size: 24px;
  }

  .popup-content button {
    font-size: 32px;
    padding: 20px;
  }

  .fixed-button-svg {
    padding: 10px 20px;
    width: 50px;
    height: 50px;
    bottom: 5%;
    right: 10%;
  }

  .popup-content__title {
    font-size: 32px;
    line-height: 20px;
  }

  .popup-content__title__lowercase {
    font-size: 24px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-min-width) {
  .success-message-popup p {
    font-size: 28px;
    margin: 10px 0;
    line-height: 18px;
  }

  .popup-class, .success-message-popup {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    text-align: center;
    max-width: 500px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
  }


  .close-button {
    font-size: 50px;
    color: $base-color-text-black;
  }

  .close-button:hover {
    opacity: 0.5;
  }

  .popup-content input[type="text"],
  .popup-content input[type="tel"],
  .popup-content textarea {
    margin: 20px 0;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    font-family: $second-font;
    font-size: 24px;
    color: $base-color-text-black;
  }

  .popup-content ::placeholder {
    font-size: 24px;
  }

  .popup-content button {
    font-size: 32px;
    padding: 20px;
  }

  .fixed-button-svg {
    padding: 10px 20px;
    font-size: 32px;
    bottom: 40px;
    bottom: 5%;
    right: 5%;
    width: 80px;
    height: 80px;
  }

  .popup-content__title {
    font-size: 32px;
    line-height: 20px;
  }

  .popup-content__title__lowercase {
    font-size: 24px;
    line-height: 20px;
  }
}
