.back-to-top {
  position: fixed;        /* Фиксируем кнопку на экране */
  bottom: 155px;
  right: 25px;           /* Отступ справа */
  padding: 10px 15px;     /* Внутренние отступы */
  display: none;          /* Скрываем кнопку по умолчанию */
  transition: opacity 0.3s ease-in-out; /* Плавное появление */
  z-index: 1000;          /* Обеспечиваем, что кнопка будет над остальными элементами */
  fill: $base-color-text-grey;
}

.back-to-top:hover {
  fill: $bg-salomon; /* Изменяем цвет фона при наведении */
}

.back-to-top.show {
  display: block;         /* Показываем кнопку при необходимости */
}

@media (min-width: $desktop-min-width) {
  .back-to-top {
    padding: 15px;
    display: none;
    bottom: 112px;
    right: 50px;         /* Отступ справа */
  }

  .back-to-top svg {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .back-to-top {
    padding: 15px;
    display: none;
    bottom: 112px;
    right: 95px;   /* Отступ справа */
  }

  .back-to-top svg {
    width: 60px;
    height: 60px;
  }
}

