.back-to-top {
  position: fixed;
  bottom: 100px;
  right: 30px;
  display: none; /* Скрыто по умолчанию */
  fill: $bg-dark-salomon;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
  background-color: transparent;
}

.back-to-top:hover {
  fill: $bg-salomon;
}

@media (min-width: $desktop-min-width) {
  .back-to-top {
    display: none;
  }
}
