.social__link-title,
.social__link--tel {
  font-family: $second-font;
  font-size: 14px;
  color: $base-color-text-grey;
  list-style-type: none;
}

.social__list {
  width: max-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: center;
  list-style-type: none;
}

.social__item {
  margin: 7px;
  font-family: $second-font;
}

.site-list__item--link-share {
  margin: 0;
  fill: $bg-dark-blue;

}

