.submit-button {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 800px;
  background-color: $bg-dark-blue;
  padding: 5px;
  border: 1px solid;
  border-radius: 2px;
}

.checkbox__custom {
width: 15px;}
