.submit-button {
  font-family: $second-font;
  text-transform: $text-uppercase;
  font-size: 12px;
  line-height: 30px;
  background-color: $bg-blue;
  padding: 5px;
  border: 2px solid $bg-basic-gray;
  border-radius: 5px;
  color: $base-color-text-black;
}

.checkbox__custom {
width: 12px;
}
