.submit-button {
  font-family: $second-font;
  font-size: 12px;
  line-height: 30px;
  background-color: $bg-dark-blue;
  padding: 5px;
  border: 1px solid;
  border-radius: 2px;
  color: $base-color-text-black;
}

.checkbox__custom {
width: 12px;
}
